save-prefix='~'
package-lock=true
@monsantoit:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
@element:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
